<br><br><br>
<p>
  <strong>Profile:</strong>
  <%= @job.profile %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<%= link_to 'Back', jobs_path %>